.mobile_layout {
  font-family: Verdana;
  font-size: small;
  margin: auto;
  width: 300px;
}

.mobile_layout h2 {
  text-align: center;
  margin: 0px;
}

.error {
  text-align: center;
  color: red;
  margin: 10px 0px;
}

.horz_centered {
  text-align: center;
  margin: 0px;
}

.login_form {
  margin: auto;
  width: 220px;
}

.login_form input {
  margin: 5px 0px 10px 0px;
}

.login_button {
    text-align: center;
}

.list_selector {
  width: 220px;
  margin: 10px auto;
}